LUXAND_API_KEY=your_luxand_api_key_here
INWORLD_API_KEY=your_inworld_api_key_here
INWORLD_API_SECRET=your_inworld_api_secret_here
INWORLD_JWT_KEY=your_inworld_jwt_key_here
INWORLD_JWT_SECRET=your_inworld_jwt_secret_here
INWORLD_TTS_AUTH=your_base64_basic_auth_here
